#songSlider .thumb
{
    -fx-pref-height: 16;
    -fx-min-height: 16;
    -fx-max-height: 16;
    -fx-pref-width: 16;
    -fx-min-width: 16;
    -fx-max-width: 16;
    -fx-background-image: url("/fxml/main/icon/NeteaseSliderBarThumb.png");
    -fx-background-size: 16, 16; /*背景图片尺寸*/
    -fx-background-color: transparent;
    -fx-background-radius: 2.0em;
    -fx-border-insets: 0, 0, 0, 0;
    -fx-padding: 0, 0, 0, 0;
    -fx-background-insets: 0, 0, 0, 0;
    -fx-border-image-insets: 0, 0, 0, 0;
}

#songSlider .track
{
    -fx-background-color:#e7e5e5;
    -fx-min-height: 2;
    -fx-max-height: 2;
    -fx-pref-height: 2;
}
