/*
.list-cell:even {
    -fx-background-color: white;
}
.list-cell:odd {
    -fx-background-color: green;
}
.list-cell:selected {
    -fx-background-color: yellow;
}
.list-cell:empty {
    -fx-background-color: white;
}
*/

.list-view{
    -fx-background-color: transparent;
}
.list-cell:selected {
    -fx-background-color: #e7e5e5;
}
.list-cell:empty {
    -fx-background-color: white;
}
.list-cell{
    -fx-pref-height: 50px;
    
}
.select-label{
    -fx-text-fill: black;
    -fx-graphic-text-gap: 10;
}

#leftButtons {
    -fx-border-color: derive(gray, 80%);
}



